.product-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    justify-content: center;
    align-items: center;
}


.product-container {
    display: flex;
    flex-wrap: wrap;
}

.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 14px 60px;
    margin: 10px;
    font-family: "Poppins", sans-serif;
    transition: height 0.3s ease-in-out;
}

.grid-item img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.product-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}


.grid-item:hover .product-buttons {
    display: block;
}

.grid-item:hover .product-price {
    /* hide price on hover */
    display: none;
}

.product-buttons {
    /* hide buttons by default */
    display: none;
    background-color: rgba(255, 255, 255, 0.9);
}

.product-buttons button {

    border: none;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
}