body {
    font-family: "Poppins", sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

#sign-form {
    margin: 50px auto;
    max-width: 500px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
}

form input[type="text"],
form input[type="email"],
form input[type="password"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

form input[type="submit"] {
    background-color: #003F62;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#status {
    margin-top: 20px;
    color: #003F62;
    font-weight: bold;
}

#form_label {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

#form-container {
    margin: 50px auto;
    max-width: 50%;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}

#order-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#order-items {
    flex-basis: 20%;
    flex-grow: 0;
}

#form-container {
    flex-basis: 80%;
    flex-grow: 0;
    align-self:  center;
}




#items-container {
    border: 1px solid #003F62;
    padding: 10px;
    border-radius: 5px;
}